<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="automation.utility.ListenerClass"></listener>
	</listeners>
	<parameter name="browser" value="chrome"></parameter>
	<test thread-count="5" name="Test">
		<classes>

			<class name="automation.testcases.HomePageTest"></class>
			<class name="automation.testcases.SignupPageTest"></class>
			<class name="automation.testcases.RegisterTest"></class>
			<class name="automation.testcases.AddressDetailsTest"></class>
			<class name="automation.testcases.ConfirmCreateadaccountTest"></class>
			<class name="automation.testcases.ConfirmLoggedaccountTest"></class>
			<class name="automation.testcases.AddressDetailsTest"></class>


		</classes>
	</test>
</suite>
	